header{
  color: white;
  text-shadow: 2px 2px 2px black;
}

body {
  background: url(bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  overflow-x: hidden;
  user-select: none;
}

footer{
  bottom: 0;
  position: fixed;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 5%;
}

.bg-red{
  background-color: crimson;
}

.cstmMarginTop{
  margin-top: 30%;
}

/* .cstmHeight{
  height: 112px;
} */

.numDieBtnSize{
  max-width: 15%;
  margin-top: 5%;
}



.justify-content-even{
  justify-content: space-evenly;
}


.space-between{
  justify-content: space-between;
}


