header{
  color: white;
  text-shadow: 2px 2px 2px black;
}

body{
  background-image: url(magic-bg.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
}

footer{
  bottom: 0;
  position: fixed;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 5%;
}

.bg-red{
  background-color: crimson;
}

.cstmMarginTop{
  margin-top: 70%;
}

.cstmHeight{
  height: 112px;
}

.numDieBtnSize{
  max-width: 15%;
  margin-top: 5%;
}



.justify-content-even{
  justify-content: space-evenly;
}

button{
  position: relative;
  margin-top: 20%;

} 





.space-between{
  justify-content: space-between;
}


